# Binaries
streamlet
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
out/

# Go workspace
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
thumbnails

# OS
.DS_Store
Thumbs.db

# Videos (don't commit video files)
videos/
